<br><h3><%= @section.name %></h3><br>

<ul class="list-group">
  <% if @food_items.present? %>
      <% @food_items.each do |food_item| %>
          <li class="list-group-item">Name: <%= food_item.name%></li>
          <li class="list-group-item">Description: <%= food_item.description%></li>
          <li class="list-group-item">Price: <%= number_to_currency(food_item.price, unit: "USD ")%></li><br>
          <%= link_to "Add to order", new_section_food_item_order_path(@section, food_item) %>
          <br>
      <%end%>
  <% end %>
</ul>