<br><h3>Order for <%= @item.name%></h3><br>

<%# if you do not specify url: ........... then it will complain that id not found
    It should post the request by finding the id %>

<%= form_for @order, url: section_food_item_orders_path(@item) do |f| %>
    <% if @order.errors.present? %>
        <div class="alert alert-danger"><%= @order.errors.full_messages.to_sentence%></div>
    <%end%>
    <div class="form-group">
      <%= f.label :quantity %>
      <%= f.number_field :quantity, class: 'form-control' %>
    </div>
    <%= f.submit nil, class: "btn btn-primary" %>
<% end %>
