<p id="notice"><%= notice %></p>
<br>
<ul class="list-group">
  <li class="list-group-item">Name: <%= @food_item.name%></li>
  <li class="list-group-item">Description: <%= @food_item.description%></li>
  <li class="list-group-item">Price: <%= @food_item.price%></li>
  <li class="list-group-item">Remote image url: <%= image_tag @food_item.image_url%></li>
  <li class="list-group-item">Section: <%= @food_item.section.name%></li>
  <br>
</ul>

<%= link_to 'Edit',edit_section_food_item_path(@section, @food_item), class:"btn btn-secondary" %>
<%= link_to 'Back', section_food_items_path(@section),class:"btn btn-secondary" %>
